<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails Bouteille</title>
</head>
<body>
    <h2>Détails de la bouteille</h2>
    <p>Code-barres: {{ bouteille[1] }}</p>
    <p>Numéro machine: {{ bouteille[2] }}</p>
    <p>Description: {{ bouteille[3] }}</p>
    <p>Quantité: {{ bouteille[4] }}</p>
    <p>Emplacement: {{ bouteille[5] }}</p>
    <p>Date d'ajout: {{ bouteille[6] }}</p>
</body>
</html>
