<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Modifier une Bouteille de Gaz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1>Modifier une Bouteille de Gaz</h1>
        <form method="POST" action="/edit/{{ bouteille.id }}">
            <div class="form-group">
                <label for="code_barres">Code-barres :</label>
                <input type="text" class="form-control" id="code_barres" name="code_barres" value="{{ bouteille.code_barres }}" required>
            </div>
            <div class="form-group">
                <label for="numero_machine">Identifiant de la Machine :</label>
                <input type="text" class="form-control" id="numero_machine" name="numero_machine" value="{{ bouteille.numero_machine }}" required>
            </div>
            <div class="form-group">
                <label for="description">Description :</label>
                <input type="text" class="form-control" id="description" name="description" value="{{ bouteille.description }}">
            </div>
            <div class="form-group">
                <label for="quantite">Quantité :</label>
                <input type="number" class="form-control" id="quantite" name="quantite" value="{{ bouteille.quantite }}">
            </div>
            <div class="form-group">
                <label for="emplacement">Emplacement :</label>
                <input type="text" class="form-control" id="emplacement" name="emplacement" value="{{ bouteille.emplacement }}">
            </div>
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </div>
</body>
</html>
