<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Modifier une Bouteille de Gaz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Modifier une Bouteille de Gaz</h1>

    <form method="POST" action="/edit/{{ bouteille.id }}">
        <label for="code_barres">Code-barres :</label>
        <input type="text" id="code_barres" name="code_barres" value="{{ bouteille.code_barres }}" required><br>

        <label for="numero_machine">Numéro de Machine :</label>
        <input type="text" id="numero_machine" name="numero_machine" value="{{ bouteille.numero_machine }}" required><br>

        <label for="description">Description :</label>
        <input type="text" id="description" name="description" value="{{ bouteille.description }}"><br>

        <label for="quantite">Quantité :</label>
        <input type="number" id="quantite" name="quantite" value="{{ bouteille.quantite }}"><br>

        <label for="emplacement">Emplacement :</label>
        <input type="text" id="emplacement" name="emplacement" value="{{ bouteille.emplacement }}"><br>

        <button type="submit">Modifier</button>
    </form>
</body
