<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
        <a href="/lecture_code_barre"><button>Lecture Code-barre</button></a>
        <a href="/table_bouteille"><button>Table bouteille</button></a>
        <a href="/add"><button>Ajouter / Modifier</button></a>
    </div>
</body>
</html>
