<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier Bouteille</title>
</head>
<body>
        <a href="/" class="btn btn-secondary mb-3">Retour</a>
    <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="img-fluid" style="max-width: 100px;">
        <h1>Carrefour des gaz</h1>
    </div>
    <h2>Modifier la bouteille</h2>
    <form action="/edit/{{ bouteille[0] }}" method="post">
        <label for="code_barres">Code-barres:</label>
        <input type="text" id="code_barres" name="code_barres" value="{{ bouteille[1] }}">
        <label for="numero_machine">Numéro machine:</label>
        <input type="text" id="numero_machine" name="numero_machine" value="{{ bouteille[2] }}">
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" value="{{ bouteille[3] }}">
        <label for="quantite">Quantité:</label>
        <input type="text" id="quantite" name="quantite" value="{{ bouteille[4] }}">
        <label for="emplacement">Emplacement:</label>
        <input type="text" id="emplacement" name="emplacement" value="{{ bouteille[5] }}">
        <input type="submit" value="Mettre à jour">
        <br><br>
        <a href="/">Retour à l'accueil</a>
    </form>
</body>
</html>
