<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Bouteille</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
    <a href="/" class="btn btn-primary mb-3">Retour à l'accueil</a>
    <h2 class="text-center mb-4">Table des bouteilles</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Code-barres</th>
                <th>Numéro machine</th>
                <th>Description</th>
                <th>Quantité</th>
                <th>Emplacement</th>
                <th>Date d'ajout</th>
            </tr>
        </thead>
        <tbody>
            {% for bouteille in bouteilles %}
                <tr>
                    <td>{{ bouteille[1] }}</td>
                    <td>{{ bouteille[2] }}</td>
                    <td>{{ bouteille[3] }}</td>
                    <td>{{ bouteille[4] }}</td>
                    <td>{{ bouteille[5] }}</td>
                    <td>{{ bouteille[6] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
